@import 'tailwindcss';

@tailwind base;
@tailwind components;
@tailwind utilities;

.menuIcon {
    @apply size-15 overflow-hidden border-b-3 border-transparent my-1 mx-2 
        hover:border-black hover:cursor-pointer
        focus:border-black
        active:fill-[#4682B4] active:border-[#4682B4]
}

.title {
    @apply border-b-3 border-transparent 
        hover:border-black hover:cursor-pointer
        focus:border-black
        active:text-[#4682B4] active:border-[#4682B4]
}

.toggleOn {
    @apply bg-blue-600 text-white
}

.toggleOff {
    @apply bg-gray-300 text-black
}

.h1 {
    @apply text-8xl flex justify-center
}

.h2 {
    @apply text-6xl
}

.h3 {
    @apply text-4xl
}

.h4 {
    @apply text-2xl
}